In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re

In [ ]:
sub_430 = pd.read_csv("US_Sub430_Milers_Database.csv")

In [ ]:
sub_430.head()

In [ ]:
sub_430.info

In [ ]:
sub_430.shape

In [ ]:
print(sub_430.dtypes)

In [ ]:
sub_430.describe()

In [ ]:
sub_430.corr()

In [ ]:
sub_430['Month'] = sub_430.Date.str[-3:]
sub_430.head()

In [ ]:
sub_430.Month.value_counts()

In [ ]:
sub_430['Month'].replace({"Jan" : "January", 'Feb':"February",'Mar':"March",'Apr':"April",'Jun':"June",'Jul':"July",'Aug':"August",'Sep':"September",'Oct':"October",'Nov':"November",'Dec':"December"}, inplace=True)
sub_430.head()

In [ ]:
sub_430.Month.value_counts()

In [ ]:
sub_430.Month.value_counts().sum()

In [ ]:
Month = pd.DataFrame(sub_430.Month.value_counts().reset_index())
Month.head()

In [ ]:
Month.columns = ['Month', 'Sub-4:30 Miles']
Month.head()

In [ ]:
Month['Percent'] = round((Month['Sub-4:30 Miles'] / 659) * 100,1)
Month.head()

In [ ]:
sns.lineplot(Month.Month, Month['Sub-4:30 Miles'])
plt.title('Sub-4:30 miles Run by Month')
plt.xlabel('Month')
plt.ylabel('Sub-4:30 Miles')

# Overall Stats

In [ ]:
sub_430.Time_Sec.mean()

The average mile time in this dataset is 4:27.8  (When rounded to the nearest tenth)

In [ ]:
sub_430.Time_Sec.min()

The fastest time in this dataset is 4:20.3 (When rounded to the nearest tenth)

In [ ]:
print(sub_430.Time_Sec > 267.76099999999997)

In [ ]:
slower_avg = sub_430.Time_Sec > 267.76099999999997

In [ ]:
slower_avg.value_counts()

63 runners are slower than average

In [ ]:
print(sub_430.Time_Sec < 267.76099999999997)

In [ ]:
faster_avg = sub_430.Time_Sec < 267.76099999999997

In [ ]:
faster_avg.value_counts()

37 runners are faster than average

In [ ]:
print(sub_430.Time_Sec == 267.76099999999997)

In [ ]:
avg = sub_430.Time_Sec == 267.76099999999997

In [ ]:
avg.value_counts()

0 milers categorize as average

In [ ]:
sub_430.Time_Sec.min()

The fastest time in this dataset is 4:20.3 (When rounded to the nearest tenth)

In [ ]:
sub_430.Time_Sec.max()

The slowest time in this dataset is 4:29.9 (When rounded to the nearest tenth)

In [ ]:
sub_430.Time_Sec.median()

In [ ]:
sub_430.Time_Sec.mode()

Let's make a visualization of the mile times

In [ ]:
sns.lineplot(sub_430.Order, sub_430.Time_Sec)
plt.title('American Sub-4 Mile Times By Seconds')
plt.xlabel('Chronological Order')
plt.ylabel('Time')

In [ ]:
sub_430.Area.value_counts()

In [ ]:
plt.pie(sub_430.Area.value_counts())
plt.show()

In [ ]:
Season = pd.DataFrame(sub_430.Area.value_counts().reset_index())
Season.head()

In [ ]:
Season.columns = ['Season', 'Sub-4:30 Miles']
Season.head()

In [ ]:
Season['Percent'] = round((Season['Sub-4:30 Miles'] / 659) * 100,1)
Season.head()

# What year did the most American women run under 4:30 in the mile?

In [ ]:
sub_430.Year.value_counts()

In [ ]:
Year = pd.DataFrame(sub_430.Year.value_counts().reset_index())
Year.head()

In [ ]:
Year.columns = ['Year', 'Runners Under 4:30']
Year.head()

In [ ]:
Year['Percent'] = round((Year['Runners Under 4:30'] / 659) * 100,1)
Year.head()

In [ ]:
sns.lineplot(Year.Year, Year['Runners Under 4:30'])
plt.title('Runners under 4:30 minutes in the Mile by Year')
plt.xlabel('Year')
plt.ylabel('Runners Under 4:30')

In [ ]:
top5_years = Year.nlargest(5,'Runners Under 4:30')
top5_years.head()

In [ ]:
sns.lineplot(top5_years.Year, top5_years['Runners Under 4:30'])
plt.title('Runners under 4:30 minutes in the Mile by Year')
plt.xlabel('Year')
plt.ylabel('Runners Under 4:30')

# What decade did the most American women run under 4:30 in the mile?

In [ ]:
sub_430.Decade.value_counts()

In [ ]:
Decade = pd.DataFrame(sub_430.Decade.value_counts().reset_index())
Decade.head()

In [ ]:
Decade.columns = ['Decade', 'Runners Under 4:30']
Decade.head()

In [ ]:
Decade['Percent'] = round((Decade['Runners Under 4:30'] / 659) * 100,1)
Decade.head()

In [ ]:
sns.lineplot(Decade.Decade, Decade['Runners Under 4:30'])
plt.title('Runners under 4:30 minutes in the Mile by Decade')
plt.xlabel('Decade')
plt.ylabel('Runners Under 4:30')

# Where where most Sub-4:30 miles run by Americans?

In [ ]:
sub_430.Location.value_counts()

In [ ]:
Location = pd.DataFrame(sub_430.Location.value_counts().reset_index())
Location.head()

In [ ]:
Location.columns = ['City', 'Sub-4:30 Miles']
Location.head()

In [ ]:
Location['Percent'] = round((Location['Sub-4:30 Miles'] / 659) * 100,1)
Location.head()

In [ ]:
plt.bar(Location.City, Location['Sub-4:30 Miles'])
plt.title('Cities with American Sub-4:30 Miles')
plt.xlabel('City')
plt.ylabel('Number of Sub-4:30 Miles')
plt.show()

In [ ]:
top10_cities = Location.nlargest(10,'Sub-4:30 Miles')
top10_cities.head()

In [ ]:
plt.bar(top10_cities.City,top10_cities['Sub-4:30 Miles'], color='black')
plt.title('Top 10 Cities With the Most Sub-4:30 Miles Run By Americans')
plt.xlabel('City')
plt.ylabel('Number of Sub-4:30 Miles Run')
plt.xticks(rotation = 90)
plt.show()

# What State were the the most Sub-4:30 miles run?

In [ ]:
sub_430.State.value_counts()

In [ ]:
State = pd.DataFrame(sub_430.State.value_counts().reset_index())
State.head()

In [ ]:
State.columns = ['State', 'Sub-4:30 Miles']
State.head()

In [ ]:
State['Percent'] = round((State['Sub-4:30 Miles'] / 659) * 100,1)
State.head()

In [ ]:
top10_states = State.nlargest(10,'Sub-4:30 Miles')
top10_states.head()

In [ ]:
plt.bar(top10_states.State,top10_states['Sub-4:30 Miles'], color='red')
plt.title('Top 10 States With the Most Sub-4:30 Miles Run By Americans')
plt.xlabel('State')
plt.ylabel('Number of Sub-4:30 Miles Run')
plt.xticks(rotation = 90)
plt.show()

# Lets make an excel spreadsheet to export dataframes

In [ ]:
xlwriter = pd.ExcelWriter('General_Sub430_Analysis.xlsx')
Month.to_excel(xlwriter, sheet_name='Sub 430 Miles By Month')
Season.to_excel(xlwriter, sheet_name='Season')
Year.to_excel(xlwriter, sheet_name='Sub 430 Miles By Year')
Decade.to_excel(xlwriter, sheet_name='Sub 430 Miles By Decade')
Location.to_excel(xlwriter, sheet_name='Sub 430 Miles By Location')
State.to_excel(xlwriter, sheet_name='Sub 430 Miles By State')
xlwriter.close()